modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BH2_HXzvbMw9coMqKv3nwpE4WOMXEG9YQtwGab-dxVd3hjLKY9c9B2AAl6rxISuG-QWNpU_NUuxASbab5FTTiEU"
VAPID_PRIVATE_KEY = "nJ_r3IIBTpUN7gDcWB2mSszLpp1VuN9CrnFK-w82Hfg"
VAPID_SUBJECT = "mailto:alerts@echoai.app"
